/*
    Styles the web content of the elasticsearch frontend
*/

/**************************
  ARTIKEL PREVIEW STYLE
***************************/
.card {
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,.125);

}

.esf-article-thumbnail {
    object-fit: cover;
    width: 225px;
    max-height: 200px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.esf-preview-headline {
    font-size: 18px;
}

.card-body {
    padding: 10px;
}

.esf-preview-text {
    overflow: hidden;
    position: relative;
    line-height: 20px;
    max-height: 81px;
    font-size: 16px;
    text-align: justify;
    margin-right: 10px;
    padding-right: 20px;
}

.esf-preview-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}
/**************************
  ARTIKEL PREVIEW STYLE END
***************************/

/**************************
  ARTIKEL STYLE
***************************/
.esf-article-container h1{
    font-size: 24px;
}

.esf-article-split-line{
    background-color: #000000;
    height: 1px;
    width: 100%;
}

.esf-article-image-header {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

/**************************
  ARTIKEL STYLE END
***************************/


/**************************
      SIDEBAR STYLE
***************************/
.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    background-color: #232939;
}

.sidebar.active {
    margin-left: -250px;
}

.sidebar .sidebar-header {
    padding: 20px;
    background: transparent;
    border-bottom: 1px solid #fff;
}

.sidebar ul li {
    padding: 0;
    height: 60px;
}

.sidebar ul li.dropdown {
    padding: 0;
    min-height: 60px;
    height: auto;

    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.sidebar ul li a{
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    display: block;

    padding: 15px 0px 0px 30px;
    min-height: 60px;

    font-size: 1.3rem;
    color: #999;
}

.sidebar ul li a:hover{
    background-color: #1F2433;
    color: #fff;
}

.sidebar ul li svg{
    margin-right: 10px;
    width: 30px !important;
}

.sidebar ul li a.active {
    background-color: #1F2433;
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


/* CONTENT STYLE */
.content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.content.active {
    width: 100%;
}


/* Mobile media query Sidebar and Content*/
@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.active {
        margin-left: 0;
    }
    .content {
        width: 100%;
    }
    .content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/**************************
     SIDEBAR STYLE ENDE
***************************/

/**************************
         SEARCHBAR
***************************/

.es-navbar {
    background-color: #fafafa;
    height: 82px;
    border-bottom: 1px solid black;
}

/**************************
     SEARCHBAR ENDE
***************************/

/**************************
         TIMELINE
***************************/

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
}

/**************************
     TIMELINE ENDE
***************************/

/* Busy Indicator by martin */
.loader-container {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 60, 60, 0.9)
}

.cssload-loader {
    position: relative;
    left: calc(50% - 75px);
    top: calc(50% - 80px);
    width: 176px;
    height: 176px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    perspective: 2200px;
}

.cssload-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.cssload-inner.cssload-one {
    left: 0%;
    top: 0%;
    animation: cssload-rotate-one 1.15s linear infinite;
    -o-animation: cssload-rotate-one 1.15s linear infinite;
    -ms-animation: cssload-rotate-one 1.15s linear infinite;
    -webkit-animation: cssload-rotate-one 1.15s linear infinite;
    -moz-animation: cssload-rotate-one 1.15s linear infinite;
    border-bottom: 5px solid rgb(67,179,242);
}

.cssload-inner.cssload-two {
    right: 0%;
    top: 0%;
    animation: cssload-rotate-two 1.15s linear infinite;
    -o-animation: cssload-rotate-two 1.15s linear infinite;
    -ms-animation: cssload-rotate-two 1.15s linear infinite;
    -webkit-animation: cssload-rotate-two 1.15s linear infinite;
    -moz-animation: cssload-rotate-two 1.15s linear infinite;
    border-right: 5px solid rgb(67,179,242);
}

.cssload-inner.cssload-three {
    right: 0%;
    bottom: 0%;
    animation: cssload-rotate-three 1.15s linear infinite;
    -o-animation: cssload-rotate-three 1.15s linear infinite;
    -ms-animation: cssload-rotate-three 1.15s linear infinite;
    -webkit-animation: cssload-rotate-three 1.15s linear infinite;
    -moz-animation: cssload-rotate-three 1.15s linear infinite;
    border-top: 5px solid rgb(67,179,242);
}







@keyframes cssload-rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-one {
    0% {
        -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-ms-keyframes cssload-rotate-one {
    0% {
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-one {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-one {
    0% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes cssload-rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-two {
    0% {
        -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-ms-keyframes cssload-rotate-two {
    0% {
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-two {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-two {
    0% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes cssload-rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-three {
    0% {
        -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-ms-keyframes cssload-rotate-three {
    0% {
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-three {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-three {
    0% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
/*END BUSY INDICATOR*/

/* TIMELINE */
.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-sidebar { background-color: #232939; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.btn-sidebar {
    color: #FFFFFF;
    background-color: #232939;
    border-color: #130269;
}

.btn-sidebar:hover,
.btn-sidebar:focus,
.btn-sidebar:active,
.btn-sidebar.active,
.open .dropdown-toggle.btn-sidebar {
    color: #FFFFFF;
    background-color: #343754;
    border-color: #130269;
}

.btn-sidebar:active,
.btn-sidebar.active,
.open .dropdown-toggle.btn-sidebar {
    background-image: none;
}

.btn-sidebar.disabled,
.btn-sidebar[disabled],
fieldset[disabled] .btn-sidebar,
.btn-sidebar.disabled:hover,
.btn-sidebar[disabled]:hover,
fieldset[disabled] .btn-sidebar:hover,
.btn-sidebar.disabled:focus,
.btn-sidebar[disabled]:focus,
fieldset[disabled] .btn-sidebar:focus,
.btn-sidebar.disabled:active,
.btn-sidebar[disabled]:active,
fieldset[disabled] .btn-sidebar:active,
.btn-sidebar.disabled.active,
.btn-sidebar[disabled].active,
fieldset[disabled] .btn-sidebar.active {
    background-color: #232939;
    border-color: #130269;
}

.btn-sidebar .badge {
    color: #232939;
    background-color: #FFFFFF;
}

/* TIMELINE END */