/*
    Styles the web content of the elasticsearch frontend
*/

/**************************
  ARTIKEL PREVIEW STYLE
***************************/
.card {
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,.125);

}

.esf-article-thumbnail {
    object-fit: cover;
    width: 225px;
    max-height: 180px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.esf-preview-headline {
    font-size: 18px;
}

.card-body {
    padding: 10px;
}

.esf-preview-text {
    overflow: hidden;
    position: relative;
    line-height: 20px;
    max-height: 81px;
    font-size: 16px;
    text-align: justify;
    margin-right: 10px;
    padding-right: 20px;
}

.esf-preview-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}
/**************************
  ARTIKEL PREVIEW STYLE END
***************************/

/**************************
  ARTIKEL STYLE
***************************/
.esf-article-container h1{
    font-size: 24px;
}

.esf-article-split-line{
    background-color: #000000;
    height: 1px;
    width: 100%;
}

.esf-article-image-header {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

/**************************
  ARTIKEL STYLE END
***************************/


/**************************
      SIDEBAR STYLE
***************************/
.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    background-color: #232939;
}

.sidebar.active {
    margin-left: -250px;
}

.sidebar .sidebar-header {
    padding: 20px;
    background: transparent;
    border-bottom: 1px solid #fff;
}

.sidebar ul li {
    padding: 0;
    height: 60px;
}

.sidebar ul li.dropdown {
    padding: 0;
    min-height: 60px;
    height: auto;

    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.sidebar ul li a{
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    display: block;

    padding: 15px 0px 0px 30px;
    min-height: 60px;

    font-size: 1.3rem;
    color: #999;
}

.sidebar ul li a:hover{
    background-color: #1F2433;
    color: #fff;
}

.sidebar ul li svg{
    margin-right: 10px;
    width: 30px !important;
}

.sidebar ul li a.active {
    background-color: #1F2433;
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


/* CONTENT STYLE */
.content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.content.active {
    width: 100%;
}


/* Mobile media query Sidebar and Content*/
@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.active {
        margin-left: 0;
    }
    .content {
        width: 100%;
    }
    .content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/**************************
     SIDEBAR STYLE ENDE
***************************/

/**************************
         SEARCHBAR
***************************/

.es-navbar {
    background-color: #fafafa;
    height: 82px;
    border-bottom: 1px solid black;
}

/**************************
     SEARCHBAR ENDE
***************************/